@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
html {
  font-family: 'Roboto', sans-serif;
}
html * {
  box-sizing: border-box;
}
body {
  background: #101e27;
  margin: 0;
}
header {
  height: 210px;
  width: 100%;
  background: url("../img/bg.jpg") 50% 50% no-repeat;
}
.container {
  width: 984px;
  margin: 0 auto;
}
.sel {
  display: none;
}
.select_container {
  background: rgba(255,255,255,0.02);
  width: 100%;
  height: 97px;
  padding: 25px;
}
.select_container > p {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  margin-left: 105px;
  margin-top: 5px;
  float: left;
}
.select_container .jq-selectbox {
  float: right;
}
.jq-selectbox__select {
  background: transparent !important;
  border: #92e8fe 1px solid;
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 55px;
  height: 55px;
  font-size: 16px;
  outline: none !important;
  width: 297px;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: #92e8fe 1px solid;
}
.jq-selectbox__trigger {
  border: none;
}
.select_container .jqselect {
  margin-top: -4px;
}
.jq-selectbox__trigger-arrow {
  border: none;
  background: url("../img/arrow.png");
  width: 9px;
  height: 5px;
  top: 24px;
}
.jq-selectbox__dropdown {
  background: #1e252b;
  border: #92e8fe 1px solid;

}
.jq-selectbox li {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.jq-selectbox__dropdown {
  padding: 10px 0;
}
.coins_block {
  display: table;
  margin-top: 50px;
  margin-bottom: 140px;
}
.coin_block {
  width: 308px;
  height: 354px;
  display: block;
  float: left;
  position: relative;
  margin-bottom: 30px;
  margin-right: 30px;
}
.coins_block .coin_block:last-child {
  margin-right: 0;
}
.green_block {
  background: url("../img/green_block.png") 50% 50% no-repeat;
}
.gray_block {
  background: url("../img/gray_block.png") 50% 50% no-repeat;
}
.brown_block {
  background: url("../img/brown_block.png") 50% 50% no-repeat;
}
.coin_block img {
  margin: 0 auto;
  display: table;
  z-index: 1;
}
.green_block img {
  top: 0;
}
.coin_block .ttl {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  position: relative;
  margin-bottom: 10px;
}
.switcher {
  background: url("../img/switcher_off.png") 50% 50% no-repeat;
  width: 42px;
  height: 22px;
  cursor: pointer;
}
.switcher_on .switcher {
  background: url("../img/switcher_on.png") 50% 50% no-repeat;

}
.coin_content {
  position: relative;
  z-index: 1;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
}
.coin_content .row {
  display: table;
  width: 100%;
  clear: both;
}
.coin_content .row p {
  float: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.2;
  font-weight: 700;
}
.coin_content .row:nth-of-type(-n + 2) p{
  opacity: 1;
}
.coin_content .row p:nth-of-type(2) {
  float: right;
}
.coin_content .row:nth-of-type(1) p {
  font-size: 20px;
  margin-bottom: 10px;
}
.coin_content .row:nth-of-type(2) p {
  margin-bottom: 10px;
}
.coin_content .row p:nth-of-type(2) {
  opacity: 1;
}
.coin_content .row p.green_text {
  color: #70c446;
}
.coin_content .row p.red_text {
  color: #c80e24;
}

@media all and (max-width: 1000px) {
  .container {
    width: 768px;
  }
  .select_container>p {
    margin: 0;
    text-align: center;
  }
}
@media all and (max-width: 767.98px) {
  .container {
    width: 300px;
  }
  .select_container>p {
    margin-bottom: 20px;
  }
  .select_container {
    height: initial;
    display: table;
  }
  .coin_block {
    margin-right: 0;
    width: 300px;
  }
  .jq-selectbox__select {
    width: 250px;
  }
}
